{% extends "base.html" %}

{% block javascript %}
<script>
$(document).ready(function() {

	$.getJSON("{{ url_for('get_all_verdicts') }}").done(function(data) {
		$.each(data["verdict_info"], function(i, v) {
			$("#add-verdict-row")
				.before($("<tr>")
					.append($("<td>").text(v["title"]))
					.append($("<td>").text(v["verdict_id"]))
					.append($("<td>").text(v["authority"]))
					.append($("<td>").text(v["date"]))
					.append($("<td>")
						.append($("<a>").attr("href", "{{ url_for('edit_verdict') }}" + "?" + $.param({"verdict_key": v["verdict_key"]}))
							.append($("<button>").attr("type", "button").addClass("btn btn-secondary btn-sm")
								.append($("<i>").addClass("fa fa-pencil-square-o"))
							)
						)
					)
				)
		})
	}).fail(function(data) {
		alert("Query failed.")
	})
})

$("#add-verdict-button").click(function() {
	v_info = {
		"title": $("#add-verdict-title").val(),
		"verdict_id": $("#add-verdict-verdict-id").val(),
		"authority": $("#add-verdict-authorty").val(),
		"date": $("#add-verdict-date").val(),
	}
	$.getJSON("{{ url_for('add_verdict') }}", v_info).done(function(data) {
		var verdict_key = data["verdict_key"]
		window.location.href = "{{ url_for('edit_verdict') }}" + "?" + $.param({"verdict_key": verdict_key});
	}).fail(function(data) {
		alert("Query failed. Is the date format correct?")
	})

})

</script>

{% endblock %}

{% block main %}
<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">List of verdicts</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead><tr><th>Title</th><th>Verdict ID</th><th>Authority</th><th>Date</th><th></th></tr></thead>
			<tbody>
				<tr id="add-verdict-row">
					<td><input type="text" class="form-control" id="add-verdict-title" placeholder="Verdict title"></td>
					<td><input type="text" class="form-control" id="add-verdict-verdict-id" placeholder="Verdict number"></td>
					<td><input type="text" class="form-control" id="add-verdict-authorty" placeholder="Sentencing authority"></td>
					<td><input type="text" class="form-control" id="add-verdict-date" placeholder="Date (YYYY-MM-DD)"></td>
					<td><button type="submit" class="btn btn-secondary btn-sm" id="add-verdict-button"><i class="fa fa-chevron-right"></i></button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}